{% extends "search/base_generic.html" %}

{% block content %}
    <div class="container">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Damico Shields</a>
            <a href="#" class="list-group-item list-group-item-action">Jaimes Subroto</a>
            <a href="#" class="list-group-item list-group-item-action">Andrew Hutzel</a>
            <a href="#" class="list-group-item list-group-item-action">Justice Chase</a>
            <a href="#" class="list-group-item list-group-item-action">Kimyou By</a>
            <a href="#" class="list-group-item list-group-item-action">Leo Wang</a>
        </div>
    </div>
{% endblock %}