{% extends "search/base_generic.html" %}

{% block content %}
    <!-- Page Content -->

    <div class="container">
    <!-- Recent Reports Section -->
    <h2 class="my-4" style="padding: 10px;"> Recent Listings</h2><hr>

        {% for report in latest %}
            <div class="row">

                <div class="col-3">
                    <a href="{% url 'search:report_detail' report.pk %}" target="_blank">
                        <img src="../{{ report.thumbnail.url }}" class="img-thumbnail"/></a>
                </div>
                <div class="col-4">
                    <p> Park: <strong>{{ report.park }}</strong></p>
                    <p> Date: <strong>{{ report.sub_date }}</strong></p>
                    <p> Category: <strong>{{ report.type }}</strong></p>
                    <p> Issue: <strong>{{ report.description }}</strong></p>
                </div>

                <div class="col-4">
                    <iframe width="310" height="220" frameborder="0" style="border:0"
                            src="{{ report.park.maps_string }}" allowfullscreen>
                    </iframe>
                </div>
            </div>
            <!-- /.row -->
            <hr>
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}
