{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />

<form action="{% url 'search:results' %}" method="get">
  <input type="text" name="q" placeholder="Search by park name" autocomplete="off">
  <select>
    <option value="" selected hidden>Select a category</option>
    <option value="park.name">Name</option>
    <option value="park.address">Address</option>
    <option value="park.status">Status</option>
  </select>
  <input type="submit" value="Search">
</form>

<iframe width="400" height="400" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJY_dFYHKHhYARMKc772iLvnE&key=AIzaSyBMDvz4zozQwoRPNcXrFX8OCGDp6c1FL7E" allowfullscreen>
</iframe>
