{% load static %}
<!DOCTYPE html>
<html>
<title>About page | Jaime Subroto</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    h3,img {
    text-align: center;
    display: block;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <br>
        <div class="w3-display-container">
          <img src="{% static "search/jaimes.jpg" %}" style="border-style: solid;width:50%;padding:1px;border-width:5px" alt="Avatar">
          <div class="w3-container w3-text-grey; text-align: center;">
            <h3>Jaimes Subroto</h3>
          </div>
          <br>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Back-End Lead</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Jakarta, Indonesia</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>San Francisco, California</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>jsubrto@mail.sfsu.edu</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(415) 760-3417</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>
          <p>C++</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:70%"></div>
          </div>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:50%"></div>
          </div>
          <p>HTML</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:75%"></div>
          </div>
          <p>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>

          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Bahasa</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:95%"></div>
          </div>
          <p>Korean</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:60%"></div>
          </div>
          <p>Mandarin</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:50%"></div>
          </div>
          <p>Spanish</a></p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:40%"></div>
          </div>
          <p>Japanese</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:10%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>
    <!-- Right Column -->
    <div class="w3-twothird">

        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h4 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About Me</h4>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>SFSU Student</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Computer Science  <span class=""></span></h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right w3-text-teal"></i>Spring 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>

        </div>

      </div>

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h4 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h4>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Back-End Team</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-asterisk fa-fw w3-margin-right"></i>CSC 648 <span class="w3-tag w3-teal w3-round"></span></h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>February 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6><br>

        </div>

      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h4 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h4>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>San Francisco State University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Computer Science</p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>

<footer class="container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
    <a href="https://www.facebook.com/jsubroto1/" target="_blank">
        <i class="fa fa-facebook-official w3-hover-text-indigo w3-xxlarge"></i>
    </a>
    <a href="https://www.linkedin.com/in/jsubroto/" target="_blank">
        <i class="fa fa-linkedin w3-hover-text-indigo w3-xxlarge" style="padding:5px"></i>
    </a>
    <a href="https://github.com/jsubroto" target="_blank">
        <i class="fa fa-github w3-hover-text-indigo w3-xxlarge"></i>
    </a>
    <p> <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a></p>
</footer>

</body>
</html>