{% extends "search/base_generic.html" %}

{% block content %}

    <div class="container">

        <!-- Report Header -->
        <h1 class="my-4">Report</h1>
        <hr>
        <!-- Report details -->
        <div class="row">
            <div class="col-3">
                <a href="../{{ report.image.url }}"><img class="img-thumbnail" src="../{{ report.image.url }}" alt=""></a>
            </div>
            <div class="col-5">
                <h3 class="" style="padding-bottom: 20px">Park Information</h3>
                <ul>
                    <li style=""><p>Park: <strong>{{ report.park.name }}</strong></p></li>
                    <li style=""><p>Submission date: <strong>{{ report.sub_date }}</strong></p></li>
                    <li style=""><p>Category: <strong>{{ report.type }}</strong></p></li>
                    <li style=""><p>Status: <strong>{{ report.status }}</strong></p></li>
                </ul>
            </div>
            <div class="col-3">
                <iframe width="450" height="400" frameborder="0" style="border:0"
                        src="{{ report.park.maps_string }}" allowfullscreen>
                </iframe>
            </div>

        </div>
        <!-- /.row -->
        <hr>

        <h3 class="my-3">Details</h3>
        <p style="padding-bottom: 50px">{{ report.description }}</p>

    </div>
    <!-- /.container -->

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
    </footer>

{% endblock %}