{% extends "search/base_generic.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="container">
                {% if not user.is_authenticated %}
                    <p>Please sign in as a city manager to be able to update reports.</p><hr>
                {% endif %}
                <form role="form" method="post" class="post-form" enctype="multipart/form-data">
                    <legend>Update Report</legend>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
{% endblock %}