{% extends "search/base_generic.html" %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        <form role="form" mehotd="post">
            <legend>Sign Up</legend>
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the
                    <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'search:index' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Cancel</a>
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a></div>
    <br>
    </div>
{% endblock %}
